@model List<Author> 
@{
    ViewData["Title"] = "Index";
    int order = (ViewBag.SelectedPage-1)*2 + 1;
}

<div class="container-fluid">
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary" asp-action="create">Add new</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">FullName</th>
                <th scope="col">Book count</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@order</th>
                    <td>@item.FullName</td>
                    <td>@item.Books.Count</td>
                    <td>
                        <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-warning">Update</a>
                        <a asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger item-delete">Delete</a>
                    </td>
                </tr>

                order++;
            }

        </tbody>
    </table>
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item @(ViewBag.SelectedPage==1?"disabled":"")">
                <a class="page-link " asp-action="index" asp-route-page="@(ViewBag.SelectedPage-1)">Prev</a>
            </li>
            @for (int i = 1; i <= ViewBag.TotalPage; i++)
            {
                <li class="page-item @(i==ViewBag.SelectedPage?"active":"")" ><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>
            }
            <li class="page-item  @(ViewBag.SelectedPage==ViewBag.TotalPage?"disabled":"")">
                <a class="page-link" asp-action="index" asp-route-page="@(ViewBag.SelectedPage+1)">Next</a>
            </li>
        </ul>
    </nav>
</div>
